.cartaoComHoverAzul {
  background-color: #6ce0f5;
  transition: background-color 200ms ease;
}

@media (min-width: 1024px) {
  .cartaoComHoverAzul {
    background-color: #ffffff;
  }

  .cartaoComHoverAzul:hover {
    background-color: #6ce0f5;
  }
}